.input {
  border-radius: 8px;
  border: 1px solid #fff;
  display: flex;
  width: 240px;
  height: 44px;
  padding: 8px 24px;
  align-items: center;
  background-color: transparent;
  color: #fff;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-right: 2vh;
}
input:hover,
input:focus {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(25px);
}

.input::placeholder {
  color: #fff;
}
